.create-story {
  padding: 1rem 0;
}

.create-story h1 {
  font-size: 6rem !important;
}

.create-form {
  margin: 3rem 12rem;
}

.participants {
  color: black;
}

@media all and (max-width: 700px) {
  .create-form {
    margin: 1rem;
  }
}
