:root {
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.App {
  /* background-color: #282c34; */
  /* background-color: #4897d8; */
  background-color: #217ca3;
  min-height: 100vh;

  font-family: "Patrick Hand SC", cursive;
  font-size: larger;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth !important;
}

.btn {
  /* padding: 0.5em 2em 0.5em 2em !important;
  font-size: 1.5rem !important;
  margin-top: 1.5rem !important;
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important; */

  font-size: 2rem !important;
  padding: 1rem !important;
  /* margin-top: 1.5rem !important; */
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
  z-index: 5 !important;
  /* min-width: 200px !important; */
  box-shadow: var(--box-shadow);
}

.highlight {
  font-size: 2.25rem !important;
  font-family: "Permanent Marker", cursive;
  margin: 0rem;
  color: #f8a055;
}

textarea {
  resize: none !important;
  /* overflow: hidden; */
}

@media all and (max-width: 700px) {
  .btn {
    padding: 0.5rem !important;
    width: 100% !important;
  }
}
