.first-part {
    min-height: 93vh;
    width: 100%;
    margin: 0 !important;
    /* padding: 4rem 0 !important; */
    padding: 0 !important;
}

.first-part .h1 {
    font-size: 12.5rem !important;
    font-family: "Permanent Marker", cursive;
    margin-top: 3rem;
    margin-bottom: 2rem;
    letter-spacing: -8px;
}

.second-part {
    min-height: 100vh;
    margin: 0 !important;
    padding: 2rem 0 !important;
    width: 100%;
    height: 100%;
    /* background-color: #eafdf8; */
    background-color: #035aa6;
    color: black;
}

.how-to {
    display: flex;
    height: 100%;
    padding: 2rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    /* margin-right:
    margin-left:  */
}

.how-to h2 {
    font-size: 8rem !important;
}
.howto div {
    margin: 1rem 1rem !important;
    /* border: solid; */
    background-color: #40bad5;
    padding: 1rem 1.5rem !important;
    /* border-color: #035aa6; */
    /* border-radius: 25px;
    box-shadow: var(--box-shadow); */
}
.inner-div {
    background-color: #fcbf1e !important;
    border-radius: 25px;

    box-shadow: var(--box-shadow);
}
.inner-div .inner-div {
    box-shadow: none;
}

.footer {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
}

.btn {
    font-size: 2rem !important;
    padding: 1.5rem !important;
    /* margin-top: 1.5rem !important; */

    color: black;
    z-index: 5 !important;
    width: 200px !important;
}
.sm-show {
    display: none;
}
.col-color {
    background-color: #40bad5 !important;
    box-shadow: var(--box-shadow);
    border-radius: 25px;
}
.wrap h3 {
    font-size: 2.5rem;
    margin-top: 1%;
  
}
.wrap {
    padding: 1.5em 2em 1em 2em;
}
.caveat-font {
    font-family: "Caveat Brush", cursive;
    font-size: 1.5em;
    margin-bottom: -1rem;
}
.howto img {
    height: 25vh;
}
.illustration-width {
    height: 11vh !important;
}
.first-part .sm-show {
    height: 20vh;
}

@media all and (max-width: 700px) {
    .first-part {
        padding: 1rem 0 !important;
    }
    .second-part {
        background-color: #fcbf1e !important;
    }
    .sm-show {
        display: block;
    }
    .inner-div {
        background-color: #40bad5 !important;
    }

    .mobile-h1 {
        font-size: 5.5rem !important;
        font-family: "Permanent Marker", cursive;
    }
    .mobile-column {
        flex-direction: column !important;
    }
    .wrap {
        height: 100%;
        margin-top: 2rem !important;
        padding: 0rem !important;
    }
    .wrap h3 {
        margin-left: 2rem !important;
        padding: 0.2rem !important;
        font-size: 2rem !important;
    }
    .how-to h2 {
        font-size: 3.5rem !important;
    }
    .how-to {
        padding: 0 2rem;
        margin: 0;
        font-size: 3.5rem !important;
    }
    .howto {
        font-size: 1rem;
        border: solid;
        border-color: #035aa6;
        background-color: #40bad5;
        margin: 2rem 0;
        padding: 0.5rem;
        box-shadow: var(--box-shadow);
    }
    .howto img {
        height: 20vh;
    }

    .howto div {
        border: none !important;
        box-shadow: none;
        padding: 0 !important;
        margin: 0.5rem !important;
    }
    .howto h3 {
        font-size: 2rem;
    }

    .col-color {
        background-color: #fcbf1e !important;
        box-shadow: none;
    }
    .footer {
        margin: 0;
    }

    /* .btn {
        padding: 0.5rem !important;
        width: 80% !important;
    } */
}
