.first-part {
    min-height: 93vh;
    width: 100%;
    margin: 0 !important;
    /* padding: 4rem 0 !important; */
    padding: 0 !important;
}

.first-part .h1 {
    font-size: 12.5rem !important;
    font-family: "Permanent Marker", cursive;
    margin-top: 3rem;
    margin-bottom: 2rem;
    letter-spacing: -8px;
}

.second-part {
    min-height: 100vh;
    margin: 0 !important;
    padding: 2rem 0 !important;
    width: 100%;
    height: 100%;
    /* background-color: #eafdf8; */
    background-color: #fcbf1e;
    color: black;
}

.how-to {
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100%;
    padding: 2rem;
    margin: 2rem 0;
    font-size: 2rem;
}

.how-to h2 {
    font-size: 5rem;
    margin: 0 2rem 1rem 0 !important;
    border-width: 0.1em;
}
.howto div {
    margin: 1.5rem 0 !important;
}

.footer {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
}

.btn {
    font-size: 2rem !important;
    padding: 1.5rem !important;
    /* margin-top: 1.5rem !important; */

    color: black !important;
    z-index: 5 !important;
    width: 200px !important;
}
.sm-show {
    display: none;
}
.col-color {
    background-color: #40bad5 !important;
    box-shadow: var(--box-shadow);
}
.wrap h3 {
    font-size: 3.5rem;
    margin-top: 1%;
}
.wrap div {
    margin-top: 10%;
}
@media all and (max-width: 700px) {
    .first-part {
        padding: 1rem 0 !important;
    }

    .sm-show {
        display: block;
    }
    a {
        font-size: 0.5em !important;
    }
    img {
        /* margin-top: -4rem !important; */
        height: 25vh !important;
    }
    .mobile-h1 {
        font-size: 5.5rem !important;
        font-family: "Permanent Marker", cursive;
    }
    .wrap {
        height: 100%;
        margin-top: 1 rem !important;
        /* margin-left: rem !important; */
    }
    .wrap h3 {
        margin-left: 2rem !important;
        padding: 0.5rem !important;
    }
    .how-to {
        padding: 0 2rem;
        margin: 0;
        font-size: 3.5rem !important;
    }
    .howto {
        font-size: 1rem;
        /* border: solid; */
        /* border-radius: 50%; */
        background-color: #40bad5;
        margin: 2rem 0;
        padding: 0.5rem;
        box-shadow: var(--box-shadow);
    }
    .howto img {
        height: 10vh !important;
    }
    .howto h3 {
        font-size: 8rem;
    }
    .col-color {
        background-color: #fcbf1e !important;
        box-shadow: none;
    }
    .footer {
        margin: 0;
    }

    .btn {
        padding: 0.5rem !important;
        width: 80% !important;
    }
}
