.disabledCursor {
    cursor: default;
}
.navbar {
    background-color: #eafdf8 !important;
    border-bottom: solid;
    color: black;
}
.navbar .nav-link {
    margin: 0 2rem !important;
    color: black !important;
    font-size: 2rem !important;
}

.navbar .nav-link:hover {
    color: rgba(0, 0, 0, 0.808) !important;
    font-weight: 600;
    border-width: 0.25rem;
}

.signin-div {
    background-color: #ffdb5c;
    padding: 3.5rem;
}
.signin-div img {
    height: 25vh;
}

.navbar-brand img {
    height: 20vh !important;
    margin-bottom: -6rem !important;
    display: block !important;
    /* box-shadow: var(--box-shadow); */
}

.brand {
    font-size: 5.25rem !important;
    font-family: "Permanent Marker", cursive;
    margin: 0rem;
    color: black !important;
}

@media all and (max-width: 700px) {
    .navbar .nav-link {
        margin: 0.5em !important;
        padding: 1.5rem;
        /* border: solid; */
    }
    .navbar {
        padding: 0 !important;
        margin: 0 !important;
        border-bottom: none;
    }
}
