.paper-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* .result-true-text */
  line-height: 1.5;
  background-image: url(/assets/images/paper2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  filter: brightness(1.3);
  margin: 4rem 8rem;
  border-radius: 5px;
  padding: 3em;
  font-size: 1.8rem;
  font-family: "Gaegu", cursive;
}

h2 {
  text-align: center;
  margin-bottom: 3rem !important;
  text-transform: capitalize;
  font-size: 4.5rem !important;
  font-size: 4rem !important;
}

.signature {
  text-align: right;
  text-transform: capitalize;
}

@media all and (max-width: 700px) {
  .paper-story {
    font-size: 1.5rem;
    margin: 2rem 0;
    padding: 2rem;
  }
}
