h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 4.5rem !important;
    font-size: 4rem !important;
}

.signature {
    font-size: 2.5rem !important;
    text-align: right;
    text-transform: capitalize;
    width: 80%;
    margin-left: auto;
}

.paper-wrap {
    background-color: #fbfbf8;
    box-shadow: var(--box-shadow);
    padding: 2.5rem;
    border-radius: 25px;
    color: black;
    text-align: left;
    line-height: 1.5;
    padding: 8rem;
}
@media all and (max-width: 700px) {
    h2 {
        text-align: center;
        text-transform: capitalize;
    }

    .paper-wrap {
        background-color: #fbfbf8;
        box-shadow: var(--box-shadow);
        padding: 0;
        border-radius: 25px;
        color: black;
        text-align: left;
        font-size: 1rem;
    }

    .signature {
        font-size: 1.5rem !important;
        padding-right: 0.5rem;
    }
}
