.App {
    background-color: #282c34;
    min-height: 100vh;

    color: white;
    overflow: hidden;
}

.first-row {
    height: 20%;
}

.second-row {
    margin-top: ;
}

.create-story {
    height: 100%;
}

.h1 {
    font-size: 8.5rem !important;

    font-family: "Permanent Marker", cursive;
}

.wrap {
    font-size: 4rem !important;
}

.wrap h3 {
    padding: 0.3rem;
}

.h2-creator {
    padding: 1.5em 1.5em 1em 0;
    font-size: 3rem;
}
.button-back {
}

.clipboard {
    cursor: pointer;
}
.h1-cs-true {
    font-size: 7.5rem !important;
    padding: 0.8em 0 0.8em 0;
    letter-spacing: -2px;
    /* border-bottom: solid; */
}
.row-cs-true {
    border: solid;
    border-radius: 5px;
}
.p-cs-true {
    font-size: 1.5rem;
    text-decoration: underline;
}
.copy-cs-true {
    font-size: 1.5rem;
    font-weight: bold;
}
