:root {
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.12);
}
/* great-vibes-regular - latin */
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/great-vibes-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Great Vibes"), local("GreatVibes-Regular"),
    url("/assets/fonts/great-vibes-v7-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/great-vibes-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/great-vibes-v7-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/great-vibes-v7-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/great-vibes-v7-latin-regular.svg#GreatVibes") format("svg"); /* Legacy iOS */
}
/* patrick-hand-regular - latin */
@font-face {
  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/patrick-hand-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Patrick Hand"), local("PatrickHand-Regular"),
    url("/assets/fonts/patrick-hand-v13-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/patrick-hand-v13-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/patrick-hand-v13-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/patrick-hand-v13-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/patrick-hand-v13-latin-regular.svg#PatrickHand")
      format("svg"); /* Legacy iOS */
}
/* patrick-hand-sc-regular - latin */
@font-face {
  font-family: "Patrick Hand SC";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/patrick-hand-sc-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Patrick Hand SC"), local("PatrickHandSC-Regular"),
    url("/assets/fonts/patrick-hand-sc-v7-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/patrick-hand-sc-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/patrick-hand-sc-v7-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/patrick-hand-sc-v7-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/patrick-hand-sc-v7-latin-regular.svg#PatrickHandSC")
      format("svg"); /* Legacy iOS */
}
/* permanent-marker-regular - latin */
@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/permanent-marker-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Permanent Marker Regular"), local("PermanentMarker-Regular"),
    url("/assets/fonts/permanent-marker-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/permanent-marker-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/permanent-marker-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/permanent-marker-v9-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/permanent-marker-v9-latin-regular.svg#PermanentMarker")
      format("svg"); /* Legacy iOS */
}
/* gaegu-regular - latin */
@font-face {
  font-family: "Gaegu";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/gaegu-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Gaegu Regular"), local("Gaegu-Regular"),
    url("/assets/fonts/gaegu-v8-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/gaegu-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/gaegu-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/gaegu-v8-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/gaegu-v8-latin-regular.svg#Gaegu") format("svg"); /* Legacy iOS */
}
.App {
  /* background-color: #282c34; */
  /* background-color: #4897d8; */
  background-color: #217ca3;
  min-height: 100vh;

  font-family: "Patrick Hand SC", cursive;
  font-size: larger;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth !important;
}

.first-row {
  height: 20%;
  padding-bottom: 10%;
}

.create-story {
  height: 100%;
}

.edit-story {
  height: 100%;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

textarea {
  resize: none !important;
  /* overflow: hidden; */
}
.second-row {
  margin-top: -8rem;
}

.highlight {
  font-size: 2.25rem !important;
  font-family: "Permanent Marker", cursive;
  margin: 0rem;
  color: #ffde65;
}

.btn {
  box-shadow: var(--box-shadow);
}

.new-story-btn {
  font-size: 2rem !important;
  padding: 1.5rem !important;
  margin-top: 1.5rem !important;
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
  z-index: 5 !important;
}
.h1 {
  font-size: 12.5rem !important;

  font-family: "Permanent Marker", cursive;
}

.signature {
  /* font-family: "Great Vibes", cursive; */
  font-size: 2rem !important;
}

.negative-z-index {
  z-index: -5 !important;
}
.wrap {
  font-size: 4rem !important;
}

.wrap h3 {
  padding: 0.3rem;
}
.h3-landing {
  font-size: 2.5rem;
}
.h2-creator {
  padding: 1.5em 1.5em 1em 0;
  font-size: 3rem;
}
.button-back {
  font-size: 2.5rem;
  /* font-weight: bold; */
  padding: 2em;
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
}

.clipboard {
  cursor: pointer;
}
.h1-cs-true {
  font-size: 7.5rem !important;
  padding: 0.7em 0 0.5em 0;
  letter-spacing: -2px;
  /* border-bottom: solid; */
}
.row-cs-true {
  border: solid;
  border-radius: 5px;
}
.p-cs-true {
  font-size: 1.5rem;
}
.p-cs-true2 {
  font-size: 1rem;
}
.p-deadlink-true {
  font-size: 1.3rem !important;
  margin-top: 7rem !important;
}
.copy-cs-true {
  font-size: 1.5rem;
}
.big-font {
  font-size: 4.5rem !important;
}
.small-font {
  font-size: 2rem;
}
.btn-home {
  font-size: 2rem !important;
  padding: 1.5rem !important;
  margin-top: 1.5rem !important;
  margin-left: 3rem !important;
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
}
.btn-home2 {
  font-size: 2rem !important;
  padding: 1.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
}
.btn-up {
  font-size: 2rem !important;
  padding: 1rem 2rem 1rem 2rem !important;
  margin-top: 1.5rem !important;
  margin-left: 3rem !important;
  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
}
.form-cs-false {
  margin: 3rem 15rem 2rem 15rem;
  /* margin: 1rem; */
}

.h1-cs-false {
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  /* text-decoration: underline; */
  /* font-weight: bold;

    font-weight: bold; */
}
.go-btn-cs-false {
  padding: 0.5em 2em 0.5em 2em !important;
  font-size: 1.5rem !important;
  margin-top: 1.5rem !important;

  background-color: #ffdb5c !important;
  border-color: #ffdb5c !important;
  color: black !important;
}

.form-es-false {
  /* margin: 3rem 10rem 2rem 10rem; */
  margin: 4rem 15rem;
  /* width: 80%; */
}
.h1-es-false {
  font-size: 4rem !important;
  margin: 4rem;
}
.h2-cs-false {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.result-true-text {
  line-height: 1.5;
  background-image: url(/assets/images/paper2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  filter: brightness(1.3);
  margin: 4rem 8rem;
  border-radius: 5px;
  padding: 3em;
  font-size: 1.5rem;
  font-family: "Gaegu", cursive;
}
.result-true-div .h1-result-true {
  /* font-weight: bold !important; */
  font-size: 5rem !important;
  padding: 0.75em 0 0.3em 0;
  height: 100%;
}
.result-true-page {
  margin-top: 5rem;
}

.h1-landing-part2 {
  font-size: 5rem;
  border-right: solid;
  border-bottom: solid;
  padding: 0.6em;
  border-width: 0.1em;
}
.row-landing-part2 {
  height: 80vh;
}
.div-landing-part2 {
  background-color: #f8a055;
  color: black;
}

.arrow {
  display: inline;
  width: 6px;
  height: 80px;
  margin: 5% auto;
  border-radius: 3px;
  background-color: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 75%);
  -webkit-animation: 3s soft-blink infinite alternate;
  animation: 3s soft-blink infinite alternate;
  position: relative;
  opacity: 0;
}
.centered {
  margin: 0 auto !important;
}
.social:hover {
  color: blueviolet;
}
.social2:hover {
  color: blueviolet;
}
.landing-third-row {
  padding: 1.4rem;
  font-size: 1.5rem;
}
.landing-quote {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.share-button {
  color: white !important;
}
.p2-cs-true2 {
  border-top: solid;
  margin-top: 5%;
  width: 50%;
  padding: 1rem;
}
.footer {
  color: #000000;
  text-decoration: none !important;
}
@-webkit-keyframes soft-blink {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(12px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(12px);
  }
}
@keyframes soft-blink {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(12px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(12px);
  }
}
.arrow:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7.1px;
  border-bottom: 6px solid white;
  border-right: 6px solid white;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-radius: 2.5px;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media all and (max-width: 700px) {
  .form-es-false {
    margin: 2rem 3rem;
  }
  .h1 {
    font-size: 4.5rem !important;
    margin: 2rem 0 !important;
  }
  .btn {
    font-size: 1.5rem !important;
    width: 150px;
    padding: 0.5rem 1rem !important;
  }
  .display-none {
    display: none !important;
  }
  .h1-landing-part2 {
    margin-top: 2rem;
    font-size: 3.5rem;
    border-right: none;
  }

  .h1-cs-false {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: 3rem;
  }
  .h1-es-false {
    font-size: 4rem !important;
    margin: 0 auto !important;
    margin-top: 3rem !important;
  }
  .p2-cs-true2 {
    margin: 3rem 2rem 2rem 2rem;
    border-top: solid;
  }
  .p-cs-true {
    font-size: 1.5rem !important;
    margin: 0 2rem 3rem 2rem !important;
  }
  .small-padding {
    padding: 0.6rem !important;
  }
  .small-font {
    font-size: 1.25rem;
  }
  .sm {
    display: none !important;
  }
  .responsive-result-progress {
    padding: 0 5rem;
  }
  .h3 {
    font-size: 1.5rem !important;
  }

  .hint-text {
    height: 155px !important;
  }
  .result-true-text {
    margin: 0 !important;
    padding: 1rem;
  }
  .story-result-true {
    padding: 0 !important;
  }
  .second-row {
    margin-top: -5rem;
  }
  .h3-landing {
    font-size: 1.5rem;
  }
  .social2 {
    margin-top: 1.5rem;
  }
  .mobile-vh {
    max-height: 100vh;
  }
  .landing-third-row {
    padding: 3rem;
    margin-top: 3rem;
    font-size: 1rem;
  }

  .big-font {
    font-size: 2.5rem !important;
  }
  .h1-es-false {
    font-size: 2rem !important;
    display: none;
  }
  .h2-cs-false {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0;
  }
  .row-cs-true {
    border: solid;
    border-radius: 25px;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 1200px) {
  .h1-cs-false {
    font-size: 2em !important;
  }
  .form-cs-false {
    margin: 2rem;
  }

  .result-true-text {
    margin: 0 !important;
    padding: 2rem;
  }
}
